body{
    display:flex;
    flex-direction: column;
    Width:900px;
    border-style: solid;
    border-width:10px;
    border-radius:8px;
 
}
#rowContainer{
    background-color: lightgoldenrodyellow;
    
}
button{
    margin:10px;
    width:200px;
    height: 100px;
    font-size: 30px;
    border-radius:10px;
    border-color:black;
    
    
}
#row1,#row2,#row3,#row4{
    display:flex;
    justify-content:space-around;
    
}

#display{
    font-size:40px;
    padding:8px;
    height:100px;
    width:auto;
    border-bottom: solid;
    border-width:10px;
    background-color: lightgrey;
    text-shadow:1.3px 1.3px black;
}

#operatorplus,#operatorminus,#operatormultiply,#operatordivision,#equals{
    background-color: lightsalmon;

}
#clear{
    background-color:aliceblue
}
#number0,#number1,#number2,#number3,#number4,#number5,#number6,#number7,#number8,#number9{
    background-color: lightskyblue;
}